<%

  var entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
  };
  function escapeHtml(string) {
    return String(string).replace(/[&<>"'\/]/g, function (s) {
      return entityMap[s];
    });
  }
  var seen_at = new Date(response.log.created_at);
  var seen_at = seen_at.format("dd-mm-yyyy hh:MM TT","GMT"); 

  var created_at = new Date(response.created_at);
  var created_at = created_at.format("dd-mm-yyyy hh:MM TT","GMT"); 

  var updated_at = new Date(response.updated_at);
  var updated_at = updated_at.format("dd-mm-yyyy hh:MM TT","GMT");  
%>
<table>
  <tbody>
    <tr>
      <td class="p5">Occured at</td>
      <td class="p5"><%= seen_at %></td>
    </tr>      
    <tr>
      <td class="p5">First occured at</td>
      <td class="p5"><%= created_at %></td>
    </tr>

    <tr>
      <td class="p5">Last occured at</td>
      <td class="p5"><%= updated_at %></td>
    </tr>
    <tr>
      <td class="p5">Description</td>
      <td class="p5"><%= escapeHtml(response.log.description) %></td>
    </tr>
    <tr>
      <td class="p5">Environment</td>
      <td class="p5"><%= response.app_environment %></td>
    </tr>
    <tr>
      <td class="p5">Request URL</td>
      <td class="p5"><%= response.log.request_url %></td>
    </tr>
    <tr>
      <td class="p5">Request Method</td>
      <td class="p5"><%= response.log.request_method %></td>
    </tr>
    <tr>
      <td class="p5">Controller</td>
      <td class="p5"><%= response.controller %></td>
    </tr>
    <tr>
      <td class="p5">Action</td>
      <td class="p5"><%= response.action %></td>
    </tr>
    <tr>
      <td class="p5">Client IP</td>
      <td class="p5"><%= response.log.client_ip %></td>
    </tr>
    <tr>
      <td class="p5">User Agent</td>
      <td class="p5"><%= response.log.user_agent %></td>
    </tr>
  </tbody>
</table>
